<section id="about" class="bg-background dark:bg-dark-background mt-16">
  <div class="container mx-auto px-5 py-12">
    <!-- Titre principal centré -->
    <div class="text-center mb-8">
      <h1 class="text-3xl md:text-4xl font-bold text-text dark:text-dark-text">
        Salut !! Je suis
        <span class="text-accent dark:text-dark-accent">Djoudj</span>,
        développeur
        <span class="text-accent dark:text-dark-accent">Angular</span>
      </h1>
      <h3 class="text-xl md:text-2xl font-bold text-text dark:text-dark-text">
        De la métallurgie au développement web.
      </h3>
    </div>
    <!-- Contenu principal -->
    <div
      class="flex flex-col md:flex-row items-center md:items-start space-y-6 md:space-y-0 md:space-x-6 justify-center"
    >
      <!-- Photo de profil avec ombre et coins arrondis -->
      <div class="flex flex-col items-center space-y-4">
        <img
          src="assets/images/profil.png"
          alt="Photo de Djoudj"
          loading="lazy"
          class="rounded-md shadow-lg w-48 h-48 md:w-60 md:h-60 object-cover"
        />
        <!-- Bouton Mon CV élargi avec icône de téléchargement -->
        <div class="flex flex-col items-center gap-4 mt-4">
          <a
            href="assets/documents/CV_Nedellec-Julien_Developpeur-Web.pdf"
            target="_blank"
            class="bg-accent dark:bg-dark-accent text-text dark:text-dark-text hover:bg-accent-dark focus:outline-none font-bold rounded-lg text-lg px-8 py-2 transition-transform hover:scale-105 flex items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 4v16h16V4H4zm2 2h12v12H6V6zm2 2v8h8V8H8z"
              />
            </svg>
            Mon CV
          </a>
          <!-- Icônes des réseaux sociaux -->
          <div class="flex gap-4">
            <img
              src="assets/images/github.svg"
              alt="GitHub"
              class="h-8 w-8 filter dark:invert"
            />
            <img
              src="assets/images/linkedin.svg"
              alt="LinkedIn"
              class="h-8 w-8 filter dark:invert"
            />
            <img
              src="assets/images/twitter.svg"
              alt="Twitter"
              class="h-8 w-8 filter dark:invert"
            />
          </div>
        </div>
      </div>
      <!-- Texte de présentation à droite -->
      <div class="w-full md:w-2/3 space-y-4 text-text dark:text-dark-text px-4">
        <!-- Blocs de texte avec icônes -->
        <div
          class="flex items-start p-4 rounded-lg bg-secondary dark:bg-dark-secondary text-white shadow-md space-x-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-accent dark:text-dark-accent"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 10h4l3 8 4-16 3 8h4"
            />
          </svg>
          <span
            >Fort d'une expérience de plus de 20 ans dans la métallurgie et la
            chaudronnerie, je me suis récemment tourné vers une nouvelle
            passion, celle du développement web.</span
          >
        </div>
        <div
          class="flex items-start p-4 rounded-lg bg-secondary dark:bg-dark-secondary text-white shadow-md space-x-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-accent dark:text-dark-accent"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 17v-6h6v6m2 4H7a2 2 0 01-2-2V7a2 2 0 012-2h10a2 2 0 012 2v12a2 2 0 01-2 2z"
            />
          </svg>
          <span
            >Ce domaine, qui m’a toujours fasciné, m’a permis de développer des
            compétences en constante évolution, tout en faisant preuve de
            motivation et d’adaptabilité.</span
          >
        </div>
        <div
          class="flex items-start p-4 rounded-lg bg-secondary dark:bg-dark-secondary text-white shadow-md space-x-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-accent dark:text-dark-accent"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 10V3L4 14h7v7l9-11h-7z"
            />
          </svg>
          <span
            >Grâce à mes diverses expériences professionnelles, j'ai su acquérir
            un esprit rigoureux, ainsi qu'une capacité à relever de nouveaux
            défis avec enthousiasme et détermination.</span
          >
        </div>
        <div
          class="flex items-start p-4 rounded-lg bg-secondary dark:bg-dark-secondary text-white shadow-md space-x-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-accent dark:text-dark-accent"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 4v16h16V4H4zm2 2h12v12H6V6zm2 2v8h8V8H8z"
            />
          </svg>
          <span
            >Cette reconversion témoigne de ma capacité à apprendre rapidement
            et à m'adapter aux besoins du marché en perpétuel changement.</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
