<footer class="bg-background dark:bg-dark-background shadow-lg pt-2">
  <div
    class="container mx-auto max-w-screen-xl flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0"
  >
    <!-- Texte du copyright -->
    <span class="text-lg text-text dark:text-dark-text font-body my-4">
      © 2023
      <a
        href="https://djoudj.dev/"
        class="hover:underline text-accent dark:text-dark-accent font-bold"
        >Djoudj.dev</a
      >. Tous droits réservés.
    </span>
  </div>
</footer>
